/javaCourse/Lab1/nbproject/private/
/javaCourse/Lab1/build/
/javaCourse/Lab1Powtorka/nbproject/private/
/javaCourse/Lab1Powtorka/build/
/javaCourse/Lab1/dist/
/javaCourse/portfolio/nbproject/private/
/wwwCourse/projZaliczeniowy/porfolio/nbproject/private/
/wwwCourse/projZaliczeniowy/portfolio/nbproject/private/
/wwwCourse/lab4B1/nbproject/private/
/wwwCourse/lab4b4/nbproject/private/
/wwwCourse/lab4b5/nbproject/private/
/javaCourse/kolosI/nbproject/private/
/javaCourse/kolosI/build/
/javaCourse/kolos2/nbproject/private/
/javaCourse/kolos2/build/